<a href="https://colab.research.google.com/github/spandanag333/ML_Projects/blob/main/dummy_and_onehot_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
dummies=pd.get_dummies(df.State)
dummies

    California  Florida  New York
0            0        0         1
1            1        0         0
2            0        1         0
3            0        0         1
4            0        1         0
5            0        0         1
6            1        0         0
7            0        1         0
8            0        0         1
9            1        0         0
10           0        1         0
11           1        0         0
12           0        1         0
13           1        0         0
14           0        1         0
15           0        0         1
16           1        0         0
17           0        0         1
18           0        1         0
19           0        0         1
20           1        0         0
21           0        0         1
22           0        1         0
23           0        1         0
24           0        0         1
25           1        0         0
26           0        1         0
27           0        0         1
28           0        1         0
29           0        0         1
30           0        1         0
31           0        0         1
32           1        0         0
33           0        1         0
34           1        0         0
35           0        0         1
36           0        1         0
37           1        0         0
38           0        0         1
39           1        0         0
40           1        0         0
41           0        1         0
42           1        0         0
43           0        0         1
44           1        0         0
45           0        0         1
46           0        1         0
47           1        0         0
48           0        0         1
49           1        0         0

In [ ]:
merge=pd.concat([df,dummies],axis='columns')
merge

    R&D Spend  Administration  Marketing Spend  ... California  Florida  New York
0   165349.20       136897.80        471784.10  ...          0        0         1
1   162597.70       151377.59        443898.53  ...          1        0         0
2   153441.51       101145.55        407934.54  ...          0        1         0
3   144372.41       118671.85        383199.62  ...          0        0         1
4   142107.34        91391.77        366168.42  ...          0        1         0
5   131876.90        99814.71        362861.36  ...          0        0         1
6   134615.46       147198.87        127716.82  ...          1        0         0
7   130298.13       145530.06        323876.68  ...          0        1         0
8   120542.52       148718.95        311613.29  ...          0        0         1
9   123334.88       108679.17        304981.62  ...          1        0         0
10  101913.08       110594.11        229160.95  ...          0        1         0
11  100671.96        91790.61        249744.55  ...          1        0         0
12   93863.75       127320.38        249839.44  ...          0        1         0
13   91992.39       135495.07        252664.93  ...          1        0         0
14  119943.24       156547.42        256512.92  ...          0        1         0
15  114523.61       122616.84        261776.23  ...          0        0         1
16   78013.11       121597.55        264346.06  ...          1        0         0
17   94657.16       145077.58        282574.31  ...          0        0         1
18   91749.16       114175.79        294919.57  ...          0        1         0
19   86419.70       153514.11             0.00  ...          0        0         1
20   76253.86       113867.30        298664.47  ...          1        0         0
21   78389.47       153773.43        299737.29  ...          0        0         1
22   73994.56       122782.75        303319.26  ...          0        1         0
23   67532.53       105751.03        304768.73  ...          0        1         0
24   77044.01        99281.34        140574.81  ...          0        0         1
25   64664.71       139553.16        137962.62  ...          1        0         0
26   75328.87       144135.98        134050.07  ...          0        1         0
27   72107.60       127864.55        353183.81  ...          0        0         1
28   66051.52       182645.56        118148.20  ...          0        1         0
29   65605.48       153032.06        107138.38  ...          0        0         1
30   61994.48       115641.28         91131.24  ...          0        1         0
31   61136.38       152701.92         88218.23  ...          0        0         1
32   63408.86       129219.61         46085.25  ...          1        0         0
33   55493.95       103057.49        214634.81  ...          0        1         0
34   46426.07       157693.92        210797.67  ...          1        0         0
35   46014.02        85047.44        205517.64  ...          0        0         1
36   28663.76       127056.21        201126.82  ...          0        1         0
37   44069.95        51283.14        197029.42  ...          1        0         0
38   20229.59        65947.93        185265.10  ...          0        0         1
39   38558.51        82982.09        174999.30  ...          1        0         0
40   28754.33       118546.05        172795.67  ...          1        0         0
41   27892.92        84710.77        164470.71  ...          0        1         0
42   23640.93        96189.63        148001.11  ...          1        0         0
43   15505.73       127382.30         35534.17  ...          0        0         1
44   22177.74       154806.14         28334.72  ...          1        0         0
45    1000.23       124153.04          1903.93  ...          0        0         1
46    1315.46       115816.21        297114.46  ...          0        1         0
47       0.00       135426.92             0.00  ...          1        0         0
48     542.05        51743.15             0.00  ...          0        0         1
49       0.00       116983.80         45173.06  ...          1        0         0

[50 rows x 8 columns]

In [ ]:
final=merge.drop(['State'],axis='columns')
final

    R&D Spend  Administration  Marketing Spend  ...  California  Florida  New York
0   165349.20       136897.80        471784.10  ...           0        0         1
1   162597.70       151377.59        443898.53  ...           1        0         0
2   153441.51       101145.55        407934.54  ...           0        1         0
3   144372.41       118671.85        383199.62  ...           0        0         1
4   142107.34        91391.77        366168.42  ...           0        1         0
5   131876.90        99814.71        362861.36  ...           0        0         1
6   134615.46       147198.87        127716.82  ...           1        0         0
7   130298.13       145530.06        323876.68  ...           0        1         0
8   120542.52       148718.95        311613.29  ...           0        0         1
9   123334.88       108679.17        304981.62  ...           1        0         0
10  101913.08       110594.11        229160.95  ...           0        1         0
11  100671.96        91790.61        249744.55  ...           1        0         0
12   93863.75       127320.38        249839.44  ...           0        1         0
13   91992.39       135495.07        252664.93  ...           1        0         0
14  119943.24       156547.42        256512.92  ...           0        1         0
15  114523.61       122616.84        261776.23  ...           0        0         1
16   78013.11       121597.55        264346.06  ...           1        0         0
17   94657.16       145077.58        282574.31  ...           0        0         1
18   91749.16       114175.79        294919.57  ...           0        1         0
19   86419.70       153514.11             0.00  ...           0        0         1
20   76253.86       113867.30        298664.47  ...           1        0         0
21   78389.47       153773.43        299737.29  ...           0        0         1
22   73994.56       122782.75        303319.26  ...           0        1         0
23   67532.53       105751.03        304768.73  ...           0        1         0
24   77044.01        99281.34        140574.81  ...           0        0         1
25   64664.71       139553.16        137962.62  ...           1        0         0
26   75328.87       144135.98        134050.07  ...           0        1         0
27   72107.60       127864.55        353183.81  ...           0        0         1
28   66051.52       182645.56        118148.20  ...           0        1         0
29   65605.48       153032.06        107138.38  ...           0        0         1
30   61994.48       115641.28         91131.24  ...           0        1         0
31   61136.38       152701.92         88218.23  ...           0        0         1
32   63408.86       129219.61         46085.25  ...           1        0         0
33   55493.95       103057.49        214634.81  ...           0        1         0
34   46426.07       157693.92        210797.67  ...           1        0         0
35   46014.02        85047.44        205517.64  ...           0        0         1
36   28663.76       127056.21        201126.82  ...           0        1         0
37   44069.95        51283.14        197029.42  ...           1        0         0
38   20229.59        65947.93        185265.10  ...           0        0         1
39   38558.51        82982.09        174999.30  ...           1        0         0
40   28754.33       118546.05        172795.67  ...           1        0         0
41   27892.92        84710.77        164470.71  ...           0        1         0
42   23640.93        96189.63        148001.11  ...           1        0         0
43   15505.73       127382.30         35534.17  ...           0        0         1
44   22177.74       154806.14         28334.72  ...           1        0         0
45    1000.23       124153.04          1903.93  ...           0        0         1
46    1315.46       115816.21        297114.46  ...           0        1         0
47       0.00       135426.92             0.00  ...           1        0         0
48     542.05        51743.15             0.00  ...           0        0         1
49       0.00       116983.80         45173.06  ...           1        0         0

[50 rows x 7 columns]

In [ ]:
final=final.drop(['New York'],axis='columns')
final

    R&D Spend  Administration  Marketing Spend     Profit  California  Florida
0   165349.20       136897.80        471784.10  192261.83           0        0
1   162597.70       151377.59        443898.53  191792.06           1        0
2   153441.51       101145.55        407934.54  191050.39           0        1
3   144372.41       118671.85        383199.62  182901.99           0        0
4   142107.34        91391.77        366168.42  166187.94           0        1
5   131876.90        99814.71        362861.36  156991.12           0        0
6   134615.46       147198.87        127716.82  156122.51           1        0
7   130298.13       145530.06        323876.68  155752.60           0        1
8   120542.52       148718.95        311613.29  152211.77           0        0
9   123334.88       108679.17        304981.62  149759.96           1        0
10  101913.08       110594.11        229160.95  146121.95           0        1
11  100671.96        91790.61        249744.55  144259.40           1        0
12   93863.75       127320.38        249839.44  141585.52           0        1
13   91992.39       135495.07        252664.93  134307.35           1        0
14  119943.24       156547.42        256512.92  132602.65           0        1
15  114523.61       122616.84        261776.23  129917.04           0        0
16   78013.11       121597.55        264346.06  126992.93           1        0
17   94657.16       145077.58        282574.31  125370.37           0        0
18   91749.16       114175.79        294919.57  124266.90           0        1
19   86419.70       153514.11             0.00  122776.86           0        0
20   76253.86       113867.30        298664.47  118474.03           1        0
21   78389.47       153773.43        299737.29  111313.02           0        0
22   73994.56       122782.75        303319.26  110352.25           0        1
23   67532.53       105751.03        304768.73  108733.99           0        1
24   77044.01        99281.34        140574.81  108552.04           0        0
25   64664.71       139553.16        137962.62  107404.34           1        0
26   75328.87       144135.98        134050.07  105733.54           0        1
27   72107.60       127864.55        353183.81  105008.31           0        0
28   66051.52       182645.56        118148.20  103282.38           0        1
29   65605.48       153032.06        107138.38  101004.64           0        0
30   61994.48       115641.28         91131.24   99937.59           0        1
31   61136.38       152701.92         88218.23   97483.56           0        0
32   63408.86       129219.61         46085.25   97427.84           1        0
33   55493.95       103057.49        214634.81   96778.92           0        1
34   46426.07       157693.92        210797.67   96712.80           1        0
35   46014.02        85047.44        205517.64   96479.51           0        0
36   28663.76       127056.21        201126.82   90708.19           0        1
37   44069.95        51283.14        197029.42   89949.14           1        0
38   20229.59        65947.93        185265.10   81229.06           0        0
39   38558.51        82982.09        174999.30   81005.76           1        0
40   28754.33       118546.05        172795.67   78239.91           1        0
41   27892.92        84710.77        164470.71   77798.83           0        1
42   23640.93        96189.63        148001.11   71498.49           1        0
43   15505.73       127382.30         35534.17   69758.98           0        0
44   22177.74       154806.14         28334.72   65200.33           1        0
45    1000.23       124153.04          1903.93   64926.08           0        0
46    1315.46       115816.21        297114.46   49490.75           0        1
47       0.00       135426.92             0.00   42559.73           1        0
48     542.05        51743.15             0.00   35673.41           0        0
49       0.00       116983.80         45173.06   14681.40           1        0

### **one hot encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
newdf=df
newdf.State=le.fit_transform(newdf.State)
newdf.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([('State',OneHotEncoder(),[3])],remainder='passthrough')
newct=ct.fit_transform(df)
newct
newct.head()

array([[0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.6534920e+05,
        1.3689780e+05, 4.7178410e+05, 1.9226183e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.6259770e+05,
        1.5137759e+05, 4.4389853e+05, 1.9179206e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.5344151e+05,
        1.0114555e+05, 4.0793454e+05, 1.9105039e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.4437241e+05,
        1.1867185e+05, 3.8319962e+05, 1.8290199e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.4210734e+05,
        9.1391770e+04, 3.6616842e+05, 1.6618794e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.3187690e+05,
        9.9814710e+04, 3.6286136e+05, 1.5699112e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.3461546e+05,
        1.4719887e+05, 1.2771682e+05, 1.5612251e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3029813e+05,
        1.4553006e+05, 3.2387668e+05, 1.5575260e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2054252e+05,
        1.4871895e+05, 3.1161329e+05, 1.5221177e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.2333488e+05,
        1.0867917e+05, 3.0498162e+05, 1.4975996e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0191308e+05,
        1.1059411e+05, 2.2916095e+05, 1.4612195e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0067196e+05,
        9.1790610e+04, 2.4974455e+05, 1.4425940e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.3863750e+04,
        1.2732038e+05, 2.4983944e+05, 1.4158552e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.1992390e+04,
        1.3549507e+05, 2.5266493e+05, 1.3430735e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.1994324e+05,
        1.5654742e+05, 2.5651292e+05, 1.3260265e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.1452361e+05,
        1.2261684e+05, 2.6177623e+05, 1.2991704e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.8013110e+04,
        1.2159755e+05, 2.6434606e+05, 1.2699293e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 9.4657160e+04,
        1.4507758e+05, 2.8257431e+05, 1.2537037e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.1749160e+04,
        1.1417579e+05, 2.9491957e+05, 1.2426690e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 8.6419700e+04,
        1.5351411e+05, 0.0000000e+00, 1.2277686e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.6253860e+04,
        1.1386730e+05, 2.9866447e+05, 1.1847403e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.8389470e+04,
        1.5377343e+05, 2.9973729e+05, 1.1131302e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.3994560e+04,
        1.2278275e+05, 3.0331926e+05, 1.1035225e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 6.7532530e+04,
        1.0575103e+05, 3.0476873e+05, 1.0873399e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.7044010e+04,
        9.9281340e+04, 1.4057481e+05, 1.0855204e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.4664710e+04,
        1.3955316e+05, 1.3796262e+05, 1.0740434e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.5328870e+04,
        1.4413598e+05, 1.3405007e+05, 1.0573354e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.2107600e+04,
        1.2786455e+05, 3.5318381e+05, 1.0500831e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 6.6051520e+04,
        1.8264556e+05, 1.1814820e+05, 1.0328238e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.5605480e+04,
        1.5303206e+05, 1.0713838e+05, 1.0100464e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 6.1994480e+04,
        1.1564128e+05, 9.1131240e+04, 9.9937590e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.1136380e+04,
        1.5270192e+05, 8.8218230e+04, 9.7483560e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.3408860e+04,
        1.2921961e+05, 4.6085250e+04, 9.7427840e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 5.5493950e+04,
        1.0305749e+05, 2.1463481e+05, 9.6778920e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.6426070e+04,
        1.5769392e+05, 2.1079767e+05, 9.6712800e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 4.6014020e+04,
        8.5047440e+04, 2.0551764e+05, 9.6479510e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 2.8663760e+04,
        1.2705621e+05, 2.0112682e+05, 9.0708190e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.4069950e+04,
        5.1283140e+04, 1.9702942e+05, 8.9949140e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 2.0229590e+04,
        6.5947930e+04, 1.8526510e+05, 8.1229060e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 3.8558510e+04,
        8.2982090e+04, 1.7499930e+05, 8.1005760e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.8754330e+04,
        1.1854605e+05, 1.7279567e+05, 7.8239910e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 2.7892920e+04,
        8.4710770e+04, 1.6447071e+05, 7.7798830e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.3640930e+04,
        9.6189630e+04, 1.4800111e+05, 7.1498490e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.5505730e+04,
        1.2738230e+05, 3.5534170e+04, 6.9758980e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.2177740e+04,
        1.5480614e+05, 2.8334720e+04, 6.5200330e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0002300e+03,
        1.2415304e+05, 1.9039300e+03, 6.4926080e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3154600e+03,
        1.1581621e+05, 2.9711446e+05, 4.9490750e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.3542692e+05, 0.0000000e+00, 4.2559730e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 5.4205000e+02,
        5.1743150e+04, 0.0000000e+00, 3.5673410e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.1698380e+05, 4.5173060e+04, 1.4681400e+04]])